*{
    /* border: 1px solid red; */
}

.navcontainer{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    margin: auto;


}

.logo{
    color: white;
    margin: auto 0px;
    font-size: 2rem;

}

.links{
    width: 30%;
    margin: auto 0px;
}

ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content:space-around;

    
}

li{
    /* padding: 0em; */
    /* font-size: 1.4rem; */
    vertical-align: middle;
    /* margin: .7em; */
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .2em .3em;
}

h1{
    color: greenyellow;
}

p{
    text-align: justify;
    padding: 1em;
}