*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(253, 255, 164);
}
#parent{
    width: 80vw;
}
.child{
    padding: 1vw 0;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-align: center;

}
.one,.three,.five{
    background-color: rgb(94, 174, 194);
}
.two, .six{
    background-color: tomato;
}
.four{
    background-color: rgb(255, 153, 0);
}