#parent {
    display: grid;
    grid-gap: .5vw;
    /* we can use this  */
    /* grid-template-columns: repeat(2,1fr); */

    /* we use this to change the fraction for content  */
    /* grid-template-columns: 1fr 4fr; */

    /* 12 columns layout  */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10vw 20vw 5vw;
}

#header {
    grid-column: 2 / -1;
}
#menu{
    /* grid-row: 1 /span 2; */
    grid-row: 1 / 3;
}
#content {
    grid-column: 2 / -1;
}

#footer {
    grid-column: 1 / -1;
}